# Pre Processing

This step involves splitting the data into three parts based on three different worlds as shown below:

>1.[World 1- Magma Peak](#World-1-Magma-Peak)<br>
>2.[World 2- TreeTop City](#World-2-TreeTop-City)<br>
>3.[World 3- Crystal Caves](#World-3-Crystal-Caves)<br>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('train.csv')
score=pd.read_csv('train_labels.csv')

In [3]:
print(df.shape)
print(score.shape)

(11341042, 11)
(17690, 7)

In [4]:
df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [5]:
score.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11341042 entries, 0 to 11341041
Data columns (total 11 columns):
event_id           object
game_session       object
timestamp          object
event_data         object
installation_id    object
event_count        int64
event_code         int64
game_time          int64
title              object
type               object
world              object
dtypes: int64(3), object(8)
memory usage: 951.8+ MB

In [7]:
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17690 entries, 0 to 17689
Data columns (total 7 columns):
game_session       17690 non-null object
installation_id    17690 non-null object
title              17690 non-null object
num_correct        17690 non-null int64
num_incorrect      17690 non-null int64
accuracy           17690 non-null float64
accuracy_group     17690 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 967.5+ KB

In [8]:
# delete the installation id ,if assessment is not done
assessment_list= df[df['type']=='Assessment'].installation_id.unique() # check the unique id who have taken assessment
df=df[df.installation_id.isin(assessment_list)] # keep only if id is in the list ,else delete
df.shape #shape of dataframe after deletion

(8294138, 11)

In [9]:
#delete the installation id if the score is not provided in score dataset
unique_id=score['installation_id'].unique()
df=df[df.installation_id.isin(unique_id)]
df.shape #shape of dataframe after deletion

(7734558, 11)

## World 1 Magma Peak

In [10]:
#World 1-MagmaPeak data
df_mp=df[df['world']=='MAGMAPEAK']

In [11]:
df_mp['title'].unique()

array(['Magma Peak - Level 1', 'Sandcastle Builder (Activity)',
       'Slop Problem', 'Scrub-A-Dub', 'Watering Hole (Activity)',
       'Magma Peak - Level 2', 'Dino Drink', 'Bubble Bath',
       'Bottle Filler (Activity)', 'Dino Dive',
       'Cauldron Filler (Assessment)'], dtype=object)

In [12]:
#World 1-MagmaPeak Score data
score_mp=score[score['title']=='Cauldron Filler (Assessment)']

In [13]:
df_mp.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
1539,27253bdc,4b57c9a59474a1b9,2019-08-06T04:57:45.301Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
1540,77261ab5,2b9d5af79bcdb79f,2019-08-06T04:58:14.538Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0006a69f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
1541,b2dba42b,2b9d5af79bcdb79f,2019-08-06T04:58:14.615Z,"{""description"":""Let's build a sandcastle! Firs...",0006a69f,2,3010,29,Sandcastle Builder (Activity),Activity,MAGMAPEAK
1542,1325467d,2b9d5af79bcdb79f,2019-08-06T04:58:16.680Z,"{""coordinates"":{""x"":273,""y"":650,""stage_width"":...",0006a69f,3,4070,2137,Sandcastle Builder (Activity),Activity,MAGMAPEAK
1543,1325467d,2b9d5af79bcdb79f,2019-08-06T04:58:18.474Z,"{""coordinates"":{""x"":863,""y"":237,""stage_width"":...",0006a69f,4,4070,3937,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [14]:
score_mp.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
5,197a373a77101924,0006c192,Cauldron Filler (Assessment),1,0,1.0,3
19,470a1bd6b99152a7,002db7e3,Cauldron Filler (Assessment),1,0,1.0,3
26,272cc78535e9add1,003372b0,Cauldron Filler (Assessment),1,0,1.0,3
32,3a50778205e34531,004c2091,Cauldron Filler (Assessment),1,0,1.0,3
34,ae5de691ea2252f1,004c2091,Cauldron Filler (Assessment),1,0,1.0,3

In [31]:
print(df_mp.shape)
print(score_mp.shape)

(3208242, 11)
(4055, 7)

In [16]:
#save as csv file
df_mp.loc[ :].to_csv('../data/magmapeak.csv',index=False)
score_mp.loc[ :].to_csv('../data/magmapeak_score.csv',index=False)

## World 2 TreeTop City

In [17]:
#World 1-TreeTopCity data
df_tt=df[df['world']=='TREETOPCITY']

In [18]:
df_tt['title'].unique()

array(['Tree Top City - Level 1', 'Ordering Spheres', 'All Star Sorting',
       'Costume Box', 'Fireworks (Activity)', '12 Monkeys',
       'Tree Top City - Level 2', 'Flower Waterer (Activity)',
       "Pirate's Tale", 'Mushroom Sorter (Assessment)', 'Air Show',
       'Treasure Map', 'Tree Top City - Level 3', 'Crystals Rule',
       'Rulers', 'Bug Measurer (Activity)', 'Bird Measurer (Assessment)'],
      dtype=object)

In [19]:
#World 1-TreeTopCity Score data
score_tt=score[(score['title']=='Mushroom Sorter (Assessment)') | (score['title']=='Bird Measurer (Assessment)')]

In [20]:
df_tt.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
1775,27253bdc,d3ffed2d2d77597d,2019-08-06T05:07:33.207Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Tree Top City - Level 1,Clip,TREETOPCITY
1776,27253bdc,e882eb6760063bb1,2019-08-06T05:07:58.484Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Ordering Spheres,Clip,TREETOPCITY
1777,b7dc8128,75e40170dea0bd21,2019-08-06T05:09:10.506Z,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",0006a69f,1,2000,0,All Star Sorting,Game,TREETOPCITY
1778,4b5efe37,75e40170dea0bd21,2019-08-06T05:09:13.298Z,"{""coordinates"":{""x"":449,""y"":637,""stage_width"":...",0006a69f,2,4010,2810,All Star Sorting,Game,TREETOPCITY
1779,2c4e6db0,75e40170dea0bd21,2019-08-06T05:09:14.934Z,"{""houses"":[4,3,2],""dinosaurs"":[{""name"":""don"",""...",0006a69f,3,2020,4443,All Star Sorting,Game,TREETOPCITY

In [21]:
score_tt.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [33]:
print(df_tt.shape)
print(score_tt.shape)

(2304179, 11)
(6503, 7)

In [34]:
#save as csv file
df_tt.loc[ :].to_csv('../data/treetopcity.csv',index=False)
score_tt.loc[ :].to_csv('../data/treetopcity_score.csv',index=False)

## World 3 Crystal Caves

In [24]:
#World 3-Crystal Caves data
df_cc=df[df['world']=='CRYSTALCAVES']

In [25]:
df_cc['title'].unique()

array(['Crystal Caves - Level 1', 'Chow Time', 'Balancing Act',
       'Crystal Caves - Level 2', 'Crystal Caves - Level 3',
       'Chicken Balancer (Activity)', 'Lifting Heavy Things',
       'Pan Balance', 'Honey Cake', 'Happy Camel',
       'Cart Balancer (Assessment)', 'Heavy, Heavier, Heaviest',
       'Egg Dropper (Activity)', 'Chest Sorter (Assessment)',
       'Leaf Leader'], dtype=object)

In [26]:
#World 3-Crystal Caves Score data
score_cc=score[(score['title']=='Cart Balancer (Assessment)') | (score['title']=='Chest Sorter (Assessment)')]

In [27]:
df_cc.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
5340,27253bdc,2be846a18a653f7c,2019-09-13T00:30:51.223Z,"{""event_code"": 2000, ""event_count"": 1}",0006c192,1,2000,0,Crystal Caves - Level 1,Clip,CRYSTALCAVES
5341,7d093bf9,e6a6a262a8243ff7,2019-09-13T00:31:20.165Z,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",0006c192,1,2000,0,Chow Time,Game,CRYSTALCAVES
5342,f93fc684,e6a6a262a8243ff7,2019-09-13T00:31:22.262Z,"{""coordinates"":{""x"":452,""y"":680,""stage_width"":...",0006c192,2,4010,2157,Chow Time,Game,CRYSTALCAVES
5343,7ec0c298,e6a6a262a8243ff7,2019-09-13T00:31:24.467Z,"{""description"":""It's Chow Time! We have some V...",0006c192,3,3010,4351,Chow Time,Game,CRYSTALCAVES
5344,0d1da71f,e6a6a262a8243ff7,2019-09-13T00:31:30.572Z,"{""description"":""It's Chow Time! We have some V...",0006c192,4,3110,10434,Chow Time,Game,CRYSTALCAVES

In [28]:
score_cc.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
10,8fdd5d389d0e272e,001d0ed0,Chest Sorter (Assessment),0,1,0.0,0
11,9480b026e3e7d371,001d0ed0,Cart Balancer (Assessment),1,0,1.0,3
15,346d5f57cf40bac0,00279ac5,Chest Sorter (Assessment),0,11,0.0,0
17,113a557b60770369,002db7e3,Cart Balancer (Assessment),1,0,1.0,3
21,67f9274eb736ab3f,002db7e3,Chest Sorter (Assessment),0,5,0.0,0

In [32]:
print(df_cc.shape)
print(score_cc.shape)

(2215199, 11)
(7132, 7)

In [35]:
#save as csv file
df_cc.loc[ :].to_csv('../data/cyrstalcaves.csv',index=False)
score_cc.loc[ :].to_csv('../data/cyrstalcaves_score.csv',index=False)